# These packages are useful in development but should not be installed in production.
# Be careful not to include them or their dependencies in requirements.lock!

ipdb
ipython
pipdeptree
flake8

# Force the exact version of pylint pyflakes and pep8. There are numerous issues with older and newer versions.
pylint              == 1.9.2
pylint-django       == 0.11.1
pylint-plugin-utils == 0.2.6
pyflakes            <1.7.0,>=1.5.0
pep8                >= 1.7.1
