# These packages are useful in development but should not be installed in production.
# Be careful not to include them or their dependencies in requirements.lock!

ipdb
ipython
pipdeptree
flake8
requests
coverage
tblib

# Force the latest version of pylint pyflakes and pep8. There are numerous issues with older versions.
pylint        >= 1.8.2
pylint-django >= 0.9.0
pyflakes      >= 1.6.0
pep8          >= 1.7.1
