/*
    django admin soft_shutdown style
*/

.shutdown_mode {
    display: flex;
    align-items: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.are_active_subtasks_present {
    background: #ad5a5a;
    color: #e6f0f5;
}

.are_only_with_downloads_subtasks_present {
    background: #ad8c47;
    color: #e6f0f5;
}

.shut_down {
    background: #98ad5a;
    color: #e6f0f5
}

.active_subtasks {
    margin-left: 0.3em;
}

.subtasks_with_downloads {
    margin-left: 0.3em;
}

.line_decorator {
    width: 2px;
    height: 1.4em;
    margin-left: 2.5em;
    background-color: #ffffff;
    opacity: 0.3;
}

.shutdown_info {
    margin-left: 3em;
}