--find-links https://builds.golem.network/simple/pyelliptic
-e git://github.com/golemfactory/golem-messages.git@v2.23.0#egg=golem_messages
mock
mypy
pytest
pytest-django
pytest-xdist
raven
-e ../middleman_protocol
