--find-links https://builds.golem.network/simple/pyelliptic
Django >= 1.11, < 1.12
psycopg2
-e git://github.com/golemfactory/golem-messages.git@v1.16.1#egg=golem_messages
freezegun
pyyaml
requests
mock
raven
