--find-links https://builds.golem.network/simple/pyelliptic
assertpy
Django >= 1.11, < 1.12
psycopg2
-e git://github.com/golemfactory/golem-messages.git@v2.10.0#egg=golem_messages
-e git://github.com/golemfactory/golem-smart-contracts-interface.git@v1.4.1#egg=golem_smart_contracts_interface
freezegun
pyyaml
requests
mock
raven
mypy
celery >= 4.0
django-constance[database]
python-mimeparse
scikit-image
opencv-python
factory-boy
coverage
tblib
pytest
pytest-django
pytest-xdist
pytest-cov
