{% extends "admin/base.html" %}

{% load static %}
{% load admin_tags %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/soft_shutdown.css' %}"/>
{% endblock %}

{% block messages %}

    {% get_shutdown_mode_state as is_shutdown_mode_enabled %}
    {% if is_shutdown_mode_enabled and has_permission %}

        {% get_subtasks_with_downloads_count as subtasks_with_downloads_count %}
        {% get_time_until_concent_can_be_shut_down as time_until_concent_can_be_shut_down %}
        {% get_active_subtasks_count as active_subtasks_count %}
        {% are_active_subtasks_present as are_active_subtasks_present %}
        {% are_only_with_downloads_subtasks_present as are_only_with_downloads_subtasks_present %}

        <div class="shutdown_mode
        {% if are_active_subtasks_present %}are_active_subtasks_present
        {% elif are_only_with_downloads_subtasks_present %}are_only_with_downloads_subtasks_present
        {% else %}shut_down
        {% endif %}">
            {% if are_active_subtasks_present %}
                <div class="shutdown_info"><span>Shutting down.</span></div>
                {% include "admin/active_subtasks.html" %}
                {% include "admin/subtasks_with_downloads.html" %}
                {% include "admin/time_left.html" %}
            {% elif are_only_with_downloads_subtasks_present %}
                <div class="shutdown_info">Shutting down.</div>
                {% include "admin/subtasks_with_downloads.html" %}
                {% include "admin/time_left.html" %}
            {% else %}
                <div class="shutdown_info"><span>Concent can be shut down.</span></div>
            {% endif %}
        </div>

    {% endif %}
    {{ block.super }}
{% endblock messages %}