{% extends "admin/base_site.html" %}

{% load static %}
{% load admin_tags %}
{% load admin_urls %}

{% block title %}Payment report | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block content %}
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
}
th, td {
    padding: 5px;
    text-align: left;
}
br {
    padding: 5px;
}
</style>

    {% for pair_report in payment_report.pair_reports %}
    <table>
    <caption>Pair report {{ forloop.counter }}</caption>
        <tr>
            <th>Provider:</th>
            <td colspan="2">
                {% for address in  pair_report.provider_ethereum_addresses %}
                    <a href="https://{{ eth_network }}etherscan.io/address/{{ address }}">{{ address }}</a>,
                {% endfor %}
                public key: {{ pair_report.provider.public_key }}
            </td>
        </tr>
        <tr>
            <th>Requestor:</th>
            <td colspan="2">
                {% for address in  pair_report.requestor_ethereum_addresses %}
                    <a href="https://{{ eth_network }}etherscan.io/address/{{ address }}">{{ address }}</a>,
                {% endfor %}
                public key: {{ pair_report.requestor.public_key }}
            </td>
        </tr>

        {#  Pending Responses table  #}
        <tr>
            <th rowspan="3">PendingResponses</th>
            <th>SubtaskResultsSettled</th>
            <td>
                {% with pending_responses=pair_report.pending_responses.subtask_results_settled %}
                {% include "admin/snippets/pending_respons_for_loop.html" %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th>SubtaskResultsRejected</th>
            <td>
                {% with pending_responses=pair_report.pending_responses.subtask_results_rejected %}
                {% include "admin/snippets/pending_respons_for_loop.html" %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th>ForcePaymentCommitted</th>
            <td>
                {% with pending_responses=pair_report.pending_responses.force_payment_committed %}
                {% include "admin/snippets/pending_respons_for_loop.html" %}
                {% endwith %}
            </td>
        </tr>

        {#  Payments table  #}
        <tr>
            <th rowspan="5">Payments</th>
            <th>Regular payments</th>
            <td>
                {% with payments=pair_report.payments.regular_payments %}
                {% include "admin/snippets/regular_payments_for_loop.html" %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th>settlement_payments</th>
            <td>
                {% with payments=pair_report.payments.settlement_payments %}
                {% include "admin/snippets/regular_payments_for_loop.html" %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th>forced_subtask_payments</th>
            <td>
                {% with payments=pair_report.payments.forced_subtask_payments %}
                {% include "admin/snippets/regular_payments_for_loop.html" %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th>requestor_additional_verification_payments</th>
            <td>
                {% with verification_payments=pair_report.payments.additional_verification_payments_for_requestor %}
                {% include "admin/snippets/verification_payments_for_loop.html" %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th>provider_additional_verification_payments</th>
            <td>
                {% with verification_payments=pair_report.payments.additional_verification_payments_for_provider %}
                {% include "admin/snippets/verification_payments_for_loop.html" %}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <th>Warnings</th>
            <td colspan="2">
                {% for warning in pair_report.warnings %}
                    <p>- {{ warning.matching_warning.name }}: {{ warning.message }}</p>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Errors</th>
            <td colspan="2">
                {% for error in pair_report.errors %}
                    <p>- {{ error.matching_error.name }}: {{ error.message }}</p>
                {% endfor %}
            </td>
        </tr>
    </table>
    <br>
    {% endfor %}

{% endblock %}
